$brand-primary: #00adef;

$brand-blue: #7bc0e1;

$brand-red: #CA4948;

$main-dark-blue: #2D4C6B;

$main-light-blue: #6C9FC2;

$main-white: #ffffff;

$dark-green: #274A3D;

$dark-purple: #3E1A49;

$dark-orange: #DB8011;

/* Issue Colors */
$category-01: #e5243a;

$category-02: #dea73a;

$category-03: #4c9e38;

$category-04: #c4192d;

$category-05: #ff3a21;

$category-06: #25bde2;

$category-07: #fcc30a;

$category-08: #a21941;

$category-09: #fd6924;

$category-10: #dc1366;

$category-11: #fd9d24;

$category-12: #bf8b2e;

$category-13: #3f7e43;

$category-14: #0a97d9;

$category-15: #56c02b;

$category-16: #00689d;

$category-17: #174869;

/* Search bar & filter by color */
$search-border: $main-dark-blue;

$filter-by-slider: $main-dark-blue;

/* Groups */

$group-dot: $main-light-blue;

$group-dot-hover: $brand-red;

$group-info-box: $main-dark-blue;

$group-header : $main-dark-blue;

$contact-icons: $main-dark-blue;

/* Events */

$event-rsvp: $main-white;
